.address-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #e6f7d4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    /* Center the container horizontally */
    width: 89%;

    border: 1px solid #e6f7d4;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.address-form {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping of items */
    gap: 10px;
    /* Spacing between inputs */
}

.address-form input {
    flex: 1 1 48%;
    /* Allow two items per row, adjusting for gap */
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.address-form input:focus {
    border-color: #0988CF;
    outline: none;
}

.schedule-visit-btn {
    background-color: #0988CF;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    /* Ensure button spans full width */
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.schedule-visit-btn:hover {
    background-color: #086fa1;
}

.radio-group label {
    font-size: 16px;
    color: #666;
}