.schedule-container {
    padding: 20px;
    background-color: #e6f7d4;
    border-radius: 10px;
}

.date-selector,
.time-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dates {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    overflow: hidden;
}

.date {
    flex: 1;
    padding: 10px;

    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc
}

.date.active {
    background-color: #e6f7d4;
    border: 1px solid #ccc
}

.arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.time-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.time input {
    margin-right: 5px;
}

.time label {
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.time.active {
    background-color: #ccc;
}

.confirm-payment-btn {
    background-color: #0988CF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.time-selector label {
    font-size: small;
}